<div class="" *ngIf="upcomingMovies !== null">
    <section id="upcoming-movies" (window:load)="reInitSwiper()">
        <div class="container">
            <h3 class="header">Upcoming Movies</h3>
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let upcomingMovie of upcomingMovies; let i = index">
                        <div class="poster-container">
                            <img loading="lazy" *ngIf="upcomingMovie.Poster === 'N/A'"
                                src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9556d16312333.5691dd2255721.jpg"
                                alt="Poster Not Found" class="poster-img">
                            <img loading="lazy" *ngIf="upcomingMovie.Poster !== 'N/A'" src="{{ upcomingMovie.Poster }}"
                                alt="Poster Image" class="poster-img">
                        </div>
                        <p class="poster-title">{{ upcomingMovie.Title }} ({{ upcomingMovie.Year }})</p>
                        <div class="poster-btn-container">
                            <button class="poster-btn" data-toggle="modal" data-target="#upcomingMovieModal"
                                (click)="movie(i)"><i class="material-icons mr-1">amp_stories</i>View</button>
                        </div>
                    </div>
                </div>

                <button class="prev slide-btn mr-3" (click)="slidePrev()">
                    <i class="material-icons">arrow_back</i>
                </button>
                <button class="next slide-btn" (click)="slideNext()">
                    <i class="material-icons">arrow_forward</i>
                </button>
            </div>

            <!-- Upcoming Movie Modal -->
            <div class="modal fade" id="upcomingMovieModal" tabindex="-1" role="dialog"
                aria-labelledby="upcomingMovieModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        <div class="modal-body" *ngIf="selected_movie">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <img loading="lazy" *ngIf="selected_movie.Poster === 'N/A'"
                                        src="https://mir-s3-cdn-cf.behance.net/project_modules/fs/9556d16312333.5691dd2255721.jpg"
                                        alt="Poster Not Found" class="poster-img">
                                    <img loading="lazy" *ngIf="selected_movie.Poster !== 'N/A'" src="{{ selected_movie.Poster }}"
                                        alt="Poster Image" class="poster-img">
                                </div>
                                <div class="col-12 col-lg-6 p-5">
                                    <p class="modal-title">{{ selected_movie.Title }}</p>
                                    <p class="modal-text1">{{ selected_movie.Year }}, {{ selected_movie.Director}}</p>
                                    <p class="modal-text2">
                                        <span class="runtime mr-2">{{ selected_movie.Runtime }}</span>
                                        {{ selected_movie.Genre}}
                                    </p>
                                    <p class="modal-desc">{{ selected_movie.Plot }}</p>

                                    <button class="modal-btn" data-toggle="modal"
                                        (click)="playTrailer(selected_movie.Title)" data-target="#upcomingMovieTrailerModal">
                                        <i class="material-icons mr-2">play_arrow</i>
                                        WATCH TRAILER
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Trailer Modal -->
                <div class="modal fade" id="upcomingMovieTrailerModal" tabindex="-1" role="dialog"
                    aria-labelledby="upcomingMovieTrailerModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                    (click)="onModalClose()">
                                    <i class="material-icons">close</i>
                                </button>
                            </div>
                            <div id="YTPlayer-container"
                                class="modal-body d-flex justify-content-center align-items-center"
                                style="height: 568px; width: 100%;">
                                <div id="player2"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>