/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #12101d;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

// #282631 card underbox bg
// #483970 the purple

html,
body {
  height: 100%;
}

.modal-body {
  padding: 0 !important;
  background: #12101d !important;
}

.modal-header {
  position: absolute;
  right: 0;
  border-bottom: unset !important;
  z-index: 5;

  i {
    padding: 5px;
    border: unset;
    border-radius: 50%;
    background: #483970;
    color: #ffffff !important;
    transition: all 0.5s ease-in-out;
  }
}

.header {
  margin-bottom: 20px;
  padding-left: 8px;
  border-left: 8px solid #483970;
  border-radius: 5px;
}

section {
  margin-top: 50px;
  margin-bottom: 50px;
}
